/* Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px; /* 패딩 조정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: #333;
  margin: 0; /* 마진 제거 */
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0 15px; /* 좌우 마진 조정 */
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  line-height: 24px; /* 줄 높이 설정 */
}

.navLink:hover {
  text-decoration: underline;
}

.logoutButton {
  padding: 10px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* 로그아웃 버튼과 간격 조정 */
}

.logoutButton:hover {
  background-color: #c82333;
}
